<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" href="/" id="pages">Home<span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" href="/savedArticles.handlebars" id="pages">Saved Articles</a>
        <button type="button" class="btn btn-danger" id="scraping">SCRAPE NEWS</button>
      </div>
    </div>
  </nav>

  <div class="container_body">
    <div class="row">
      <div class="col-12">
        <img src="./assets/img/articles.jpg" alt="Article" id="article_img">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col" id="article_bar">
     

      <div class="modal fade" id="myModal" role="dialog">
         <div class="modal-dialog">
             <div class="modal-content">
                 <div class="modal-body">
                     <h1 id="modal_text">Articles Added!</h1>
                 </div>
                 <div class="modal-footer">
                     <button type="button" class="btn btn-primary" data-dismiss="modal" id="btn-close">Ok</button>
                 </div>
             </div>
         </div>
       </div>

    </div>
  </div>
</div>
